body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.ranking {
    display: flex;
    flex-wrap: wrap;
}

.alumno {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.alumno img {
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.alumno .info {
    display: flex;
    flex-direction: column;
}
#medal{
    height: 5vh;
    width: 5vh;
}

@media (max-width: 768px) {


    .ranking {
        flex-direction: column;
    }

    .alumno {
        width: 100%;
    }
}